<article id="contact">
    <aside>For more information, please contact:</aside>
    <article class="contact-info">
        <div class="img_box"><%= image_tag "eli.jpg" %></div>
        <h3>Elijah Cooper</h3>
        <ul class="info">
            <li>Design / Development</li>
            <li>elijah.cooper@oracle.com</li>
        </ul>
    </article>
    <article class="contact-info">
        <div class="img_box"><%= image_tag "heman.jpg" %></div>
        <h3>Inder Dhir</h3>
        <ul class="info">
            <li>Development</li>
            <li>inder.dhir@oracle.com</li>
        </ul>
    </article>
</article>

