<article id="contact">
    <aside>For more information, please contact:</aside>
    <article class="contact-info">
        <div class="img_box"><%= image_tag "eli.jpg" %></div>
        <h3>Eli Cooper</h3>
        <ul class="info">
            <li><a href="https://github.com/e-cooper">My Github!</a></li>
            <li><address>
                <a href="mailto:elijah.cooper@oracle.com" class="email">Email Me!</a>
            </address></li>
        </ul>
    </article>
    <article class="contact-info">
        <div class="img_box"><%= image_tag "inder.jpg" %></div>
        <h3>Inder Dhir</h3>
        <ul class="info">
            <li><a href="https://github.com/inderdhir">My Github!</a></li>
            <li><address>
                <a href="mailto:inder.dhir@oracle.com" class="email">Email Me!</a>
            </address></li>
        </ul>
    </article>
</article>

