<% provide(:title, "Contact") %>

<article id="contact">
    <aside>For more information, please contact:</aside>
    <img src="http://0.tqn.com/d/usparks/1/0/8/1/-/-/shenandoah_dog.jpg" alt="Elijah Cooper">
    <h3>Elijah Cooper</h3>
    <ul class="info">
        <li>Front End Development</li>
        <li>elijah.cooper@oracle.com</li>
    </ul>
    <img src="http://cdn.pedigreedatabase.com/dogbreeds/german_shepherd_dog.jpg" alt="Inder Dhir">
    <h3>Inder Dhir</h3>
    <ul class="info">
        <li>Back End Development</li>
        <li>inder.dhir@oracle.com</li>
    </ul>
</article>