<article id="contact">
    <aside>For more information, please contact:</aside>
    <article class="contact-info">
        <div class="img_box"><%= image_tag "eli.jpg" %></div>
        <h3>Eli Cooper</h3>
        <ul class="info">
            <li><b>Email: </b>
                <a href="mailto:elijah.cooper@oracle.com" class="email">elijah.cooper@oracle.com</a></li>
            <li><b>Github:</b> <a href="https://github.com/e-cooper">e-cooper</a></li>
        </ul>
    </article>
    <article class="contact-info">
        <div class="img_box"><%= image_tag "inder.jpg" %></div>
        <h3>Inder Dhir</h3>
        <ul class="info">
            <li><b>Email: </b>
                <a href="mailto:inder.dhir@oracle.com" class="email">inder.dhir@oracle.com</a></li>
            <li><b>Github:</b> <a href="https://github.com/inderdhir">inderdhir</a></li>
        </ul>
    </article>
</article>

