<h1>Hello!</h1>

<body>
<div id="tournaments">
<% if Tournament.any? %>
    <%= pluralize(Tournament.count, 'tournament') %> have been created so far<br />
    <% Tournament.all.each do |t| %>
        Name: <%= t.name %><br />
        Player Count: <%= t.player_count %><br />
    <% end %>
<% end %>
</div>

<div class='create-tour'><%= link_to "Create Tournament", new_tournament_url %></div>

</body>

