<%= form_for @tournament, html: { id: 'dialog-form' } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.text_field :name %>
    <span id="submit_btn"><%= f.submit "Create Tournament" %></span>
<% end %>