<% provide(:title, "Players") %>

	<h2 class="title">Players</h2>
	<div class='btn create_btn nopjax' id='new_player_btn'><%= link_to "New Player", new_match_path %></div>

    <%= render 'new_player' %>

<div class="detail">
	<%= pluralize(Player.count, 'player has', 'players have') %> been created so far.
</div>
<div class="divider"></div>

<form method="post">
    <input type="text" id="search" placeholder="Search for player" >
</form>

<br />

<%= render 'reg_index' %>

