<% provide(:title, "Players") %>

<body>
	<h2 class="title">Players</h2>
	<div class='btn create_btn'><%= link_to "New Player", new_player_url %></div>

<div class="detail">
	<%= pluralize(Player.count, 'player has', 'players have') %> been created so far.
</div>
<div class="divider"></div>

<% if @tournament %>
    <%= render 'add_index' %>
<% else %>
    <%= render 'reg_index' %>
<% end %>

</body>
