<ul id="match_player_picker">
    <table>
        <thead>
        <th>Name</th>
        <th>Skill</th>
        </thead>
        <tbody>
            <% if @non_match_players.any? && @match.players.size != 2 %>
                <% for p in @non_match_players %>
                    <tr>
                    <td><button class="add_match_player_picker" data-player-id="<%= p.id %>"
                    data-match-id="<%= @match.id %>"><%= p.full_name %></button></td>
                    <td><%= p.skill %></td>
                    </tr>
                <% end %>
            <% elsif @match.players.size == 2 %>
                <tr>
                    <td>Match already has two players</td>
                    <td></td>
                </tr>
            <% else %>
                <tr>
                    <td>No players found</td>
                    <td></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</ul>