<% provide(:title, "#{@match.id}") %>
<%= flash[:notice] %>

<h2 class="title">Match ID: <%= @match.id %></h2>

<% if !@match.winner %>

<% else %>
    <div class="btn completed_btn"><%= link_to "Match Completed" %></div>
<% end %>
