// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.create_form_match {
  display: none;
}

.ui-dialog-content {
    background: #f3f3f3;
    margin: 1em 0 0 0;
    padding: 1em;
  }

.matches_btn {
  margin: 0;
  &:hover {
    opacity: 0.70;
  }
}

#match_player_picker_wrapper {
  display: none;
  height: 250px;
  width: 250px;
  overflow: auto;
}

.highlightEntry{
  background-color: green !important;
}

.edit_match_name_class{
  display: none;
  clear: right;
  float: right;
  input[type="text"] {
    margin: 0.5em 0 0.7em 0;
    clear: left;
  }
  li {
    float: left;
  }
}