// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#contact {
    display: block;
    margin: 0 auto;
    width: 60%;
    h3 {
        margin: 1em auto 0 auto;
        clear: both;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.img_box {
    width: 240px;
    height: 240px;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 1.2em 0 0 0;
}

.contact-info {
    float: left;
    &:first-of-type {
        margin: 0 3em 0 0;
    }
    li {
        margin: 0.5em 0;
    }
}

.info {
    display: block;
    margin: 0;
}

#footer-padding {
    height: 30px;
    margin: 1em;
    clear: both;
}