// Place all the styles related to the Tournaments controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.create_form_tournament {
    display: none;
    clear: right;
    float: right;
    input[type="text"] {
        margin: 0.5em 0 0.7em 0;
        clear: left;
    }
    li {
        float: left;
    }
    &.show_form {
        display: block;
        float: left;
        input, select {
            margin: 0 0 0.7em 0;
        }
        li {
            clear: left;
        }
    }
}

.round_container {
    position: absolute;
    left: 0;
    right: 0;
    padding: 2em;
    background: #f3f3f3;
    min-width: 750px;
    max-width: 100%;
}

.matches-row {
    display: table-row;
}

.matches-list {
    display: table-cell;
    vertical-align: middle;
    min-width: 5em;
    max-width: 20em;
    margin: 0 auto;
    vertical-align: middle;
}

.match {
    border: 2px solid #aaa;
    border-radius: 5px;
    margin: 0 0 1em 0;
    background: #fff;
    overflow: hidden;
    li {
        height: 2em;
        padding: 0.3em;
        font-size: 0.9em;
        &:first-child {
            border-bottom: 1px solid #000;
        }
    }
}

.winner_btn {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.match-winner {
    background-color: rgba(200, 255, 200, 1);
}

.match-loser {
    background-color: rgba(230, 230, 230, 1);
}

.round {
	display: table;
	float: left;
	height: 100%;
	margin: 0 0 0 1em;
	&:first-of-type {
		margin: 0;
	}
}

.new-tournament-added {
    background-color: #70ae21;
}