// Place all the styles related to the Tournaments controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

$mild-green: #99db76;

#filler {
    margin: 0 0 -1.8em 0;
}

.create_form_tournament {
    display: none;
    clear: right;
    float: right;
    input[type="text"] {
        margin: 0.5em 0 0.7em 0;
        clear: left;
    }
    li {
        float: left;
    }
    &.show_form {
        display: block;
        float: left;
        input, select {
            margin: 0 0 0.7em 0;
        }
        li {
            clear: left;
        }
    }
}

.round_container {
    position: absolute;
    left: 0;
    right: 0;
    padding: 2em;
    background: #f3f3f3;
    min-width: 750px;
    max-width: 100%;
    min-height: 91.7%;
    margin-top: -1.3em;
}

.matches-row {
    display: table-row;
}

.matches-list {
    display: table-cell;
    vertical-align: middle;
    min-width: 10em;
    max-width: 20em;
    margin: 0 auto;
    vertical-align: middle;
}

.match {
    // border: 1px solid #888;
    padding: 1em 0;
    // background: #fff;
    overflow: hidden;
    li {
        padding: 0.6em;
        font-size: 0.9em;
        min-height: 48px;
        &:first-child {
            border-bottom: 1px solid #888;
        }
        &:nth-child(odd) {
            // border-right: 1px solid #888;
        }
        .gravatar {
            margin: 0 0.4em 0 0;
            vertical-align: middle;
        }
    }
    &.non-match {
        border: none;
        background: none;
        li:first-child {
            border: none;
        }
    }
}

.winner_btn {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.match-winner {
    background-color: $mild-green;
    color: #000;
}

.match-loser {
    // background-color: rgba(230, 230, 230, 1);
}

.round {
	display: table;
	float: left;
	height: 100%;
    .matches-row {
        &:nth-child(even) {
            .match-border {
                height: 50%; 
                border-right: 1px solid #888;
            }
        }
        &:nth-child(odd) {
            .match-border-filler {
                height: 50%;
            }
            .match-border {
                height: 50%;
                border-right: 1px solid #888;
            }
        }
        &.non-match-row {
            .match-border {
                border: none;
            }
        }
    }

}

.new-tournament-added {
    background-color: #70ae21;
}

.edit_tournament_name_class {
  display: none;
}