<div id="nav-bar-back">	
	<nav>
	    <ul>
	    	<li id="logo"><%= link_to "Brakkit", root_path %></li>
	        <li id="contact-button"><%= link_to "Contact", contact_path %></li>
	        <li><%= link_to "Players" %></li>
	        <li><%= link_to "Tournaments", tournaments_path %></li>
	    </ul>
	</nav>
</div>